<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="index.html" class="b-brand">
        <!-- ========   Change your logo from here   ============ -->
        <img src="{{ url_for('static', filename='assets/images/logo-dark.svg') }}" alt="" class="logo logo-lg" />
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <label>儀表板</label>
          <i class="ti ti-dashboard"></i>
        </li>
        
        <li class="pc-item">
          <a href="/" class="pc-link">
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">儀表板</span></a>
        </li>
        <li class="pc-item pc-caption">
          <label>個人資產</label>
          <i class="ti ti-news"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-building-bank"></i></span><span
                  class="pc-mtext">流動資金</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" href="{{ url_for('home_blueprint.assets') }}">現金</a></li>
            <li class="pc-item"><a class="pc-link" href="">銀行</a></li>
            <li class="pc-item"><a class="pc-link" href="">電子錢包</a></li>
            <li class="pc-item"><a class="pc-link" href="">其他流動資金</a></li>
          </ul>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-chart-line"></i></span><span
                  class="pc-mtext">投資</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" href="">基金</a></li>
            <li class="pc-item"><a class="pc-link" href="">股票</a></li>
            <li class="pc-item"><a class="pc-link" href="">加密貨幣</a></li>
            <li class="pc-item"><a class="pc-link" href="">貴金屬</a></li>
            <li class="pc-item"><a class="pc-link" href="">其他投資</a></li>
          </ul>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-home"></i></span><span
                  class="pc-mtext">固定資產</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" href="">房產</a></li>
            <li class="pc-item"><a class="pc-link" href="">汽車</a></li>
            <li class="pc-item"><a class="pc-link" href="">其他固定資產</a></li>
          </ul>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-coin"></i></span><span
                  class="pc-mtext">應收款</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" href="">應收款</a></li>
          </ul>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-credit-card"></i></span><span
                  class="pc-mtext">負債</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" href="">信用卡</a></li>
            <li class="pc-item"><a class="pc-link" href="">貸款</a></li>
            <li class="pc-item"><a class="pc-link" href="">應付款</a></li>
            <li class="pc-item"><a class="pc-link" href="">其他負債</a></li>
          </ul>
        </li>


        <li class="pc-item pc-caption">
          <label>Pages</label>
          <i class="ti ti-news"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-key"></i></span><span
              class="pc-mtext">User Pages</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">

            {% if current_user.is_authenticated %}
              <li class="pc-item"><a class="pc-link" href="{{ url_for('authentication_blueprint.logout') }}">Logout</a></li>
            {% else %}
              <li class="pc-item"><a class="pc-link" href="{{ url_for('authentication_blueprint.login') }}">Login</a></li>
              <li class="pc-item"><a class="pc-link" href="{{ url_for('authentication_blueprint.register') }}">Register</a></li>
            {% endif %}

          </ul>
        </li>
        <li class="pc-item pc-caption">
          <label>Elements</label>
          <i class="ti ti-apps"></i>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.typography') }}" class="pc-link"><span class="pc-micon"><i
                class="ti ti-typography"></i></span><span class="pc-mtext">Typography</span></a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.color') }}" class="pc-link"><span class="pc-micon"><i class="ti ti-brush"></i></span><span
              class="pc-mtext">Color</span></a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.icon_tabler') }}" class="pc-link"><span class="pc-micon"><i
                class="ti ti-plant-2"></i></span><span class="pc-mtext">Tabler</span><span class="pc-arrow"></a>
        </li>

        <li class="pc-item pc-caption">
          <label>Other</label>
          <i class="ti ti-brand-chrome"></i>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.sample_page') }}" class="pc-link"><span class="pc-micon"><i
                class="ti ti-brand-chrome"></i></span><span class="pc-mtext">Sample page</span></a></li>
        <li class="pc-item">
          <a href="https://github.com/app-generator/flask-berry-dashboard" target="_blank" class="pc-link"><span
              class="pc-micon"><i class="ti ti-vocabulary"></i></span><span class="pc-mtext">DOCS</span></a></li>
      </ul>
      <div class="pc-navbar-card bg-primary rounded">
        <h4 class="text-white">Berry Bootstrap 5</h4>
        <p class="text-white opacity-75">Open-Source Theme</p>
        <a href="https://appseed.us/product/berry-dashboard/flask/"  
           target="_blank" class="btn btn-light text-primary">Download</a>
      </div>
    </div>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
